.secondHeaderSection{
    text-align: center;
    color: #1A2541;
    font-size: 2em;
}

.tab1{
    padding-bottom: 0.5rem !important;
}

.active1{
    color: #172444;
    border-bottom: 3px solid #172444;
}

.tab2{
    padding-bottom: 0.5rem !important;
}

.active2{
    color: #172444;
    border-bottom: 3px solid #172444;
}



.btn-ghost{
    background-color: #1A2541 !important;
    color: #fff !important;
}

.videoSection iframe{
    width: 100%;
}

.firstSliderText{
    font-size: 2.5em;
    text-align: center;
    font-weight: 700;
}

.firstSliderTextSec{
    font-size: 1em;
    text-align: center;
    font-weight: 100;
}

.textContent{
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 2px solid rgb(255, 255, 255, 0.6);
    background-color: rgb(255, 255, 255, 0.6);
    color:#172444;
}

.interestedText{
    color: #fff;
    font-weight: bold;
    font-size: .8em;
}

.textPara{
    visibility: hidden;
}

.contactUs{
    background: #fff;
    color: #172444;
    width: 17%;
    margin: 0 auto;
    border-radius: 4px;
    padding: .6rem;
    text-decoration: none;
}

.contactUs a{
    text-decoration: none;
}

.contactUs:hover{
    text-decoration: none;
}

.copyRight{
    color: #fff;
}

.copyRight a{
    text-decoration: none;
}

.videoButton{
    text-align: center;
    transition: transform .8s;
}

.videoButton img{
    width: 4%;
}

.videoButton:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.padding-top-section{
    padding-top: 50px;
}

.secHeight{
    height: 100vh;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.marginBottomSec{
    margin-bottom: 8rem;
}

.pdsSectionTopOne{
    padding-top: 6rem;
}

.capitalSec{
    color:white;
    border-bottom: 1px solid #283b69; 
    padding-bottom: 1.5rem;
}

.capitalSec small{
    margin-top: .5rem;
}

.bottonSec{
    background: #172444 !important;
    color: #fff !important;
}

.gxVideoWrapper{
    
}




@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .contactUs{
        width: 30%;
    }
    .videoButton img {
        width: 15%;
    }
    .secHeight{
        height: auto;
    }
    .marginBottomSec{
        margin-bottom: 4rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .videoButton img {
        width: 6%;
    }
    .secHeight{
        height: auto;
    }
    .marginBottomSec{
        margin-bottom: 4rem;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .contactUs{
        width: 25%;
    }
    .videoButton img {
        width: 8%;
    }
    .secHeight{
        height: auto;
    }
    .marginBottomSec{
        margin-bottom: 4rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .videoButton img {
        width: 8%;
    }
    .marginBottomSec{
        margin-bottom: 4rem;
    }
    .secHeight{
        height: auto;
    }
}